/*
#23606E
#FACFCE
#008F8C
#015958
#023535
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    /* width: 100%; */
    /* max-width: 1200px; */
    /* border: 1px solid red; */
}

html {
    font-size: 62.5%;
    /*1 rem = 10px*/
}

/*header*/
header {
    display: flex;
    justify-content: space-between;
    background-color: #015958;
    min-height: 6rem;
    border: solid 0.1rem black;
    max-width: 100%;
    align-items: center;
    /* height: 7rem; */
}
header a {
    text-decoration: none;
    padding: 1rem;
    color: white;
}
header nav {
    display: flex;
    justify-content: center;
    align-items: center; 
    /* height: 7rem; */
    width: 100%;

} 
header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: right;
    font-size: 2rem;
    align-items: center;
    padding: 1rem;
    list-style: none;
    width: 100%;
}
header nav ul li {
    display: flex;
}
.logo h2 {
    font-size: 3rem;
    color: white;
}
.logo {
    display: flex;
    align-items: center;
    padding: 2rem;
    /* flex-direction: row; */
}
.logo img {
    height: 6rem;
    width: 6rem;
    margin-right: 2rem;
}
header button span{
    background-color: gray;
    color: gray;
}
/*body*/
body {
    overflow-x: hidden;
    background-color: #d8d7a6;
}
iframe {
    width: 100%;
    height: 80vh;
    margin: 3rem;
}
p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    font-size: 3rem;
    padding: 2rem;
}

h1 {
    font-size: 6rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    margin: 4rem;
}

/* h2 {
    font-size: 4rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: center;
    padding: 5rem; 
} */

h3 {
    font-size: 3rem;
    margin: 3rem;
}

/* article div {
    display: inline-block;
    justify-content: space-around;
    flex-direction: row;
    padding: 1rem;
    margin: 1.5rem;
} */
/*footer*/
footer {
    display: flex;
    align-items: center;
    background-color: #015958;
    min-height: 6rem;
    max-width: 100%;
    margin: 0;
    bottom: 0;
    margin-top: 10rem;
}
footer nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
footer nav a:hover, header nav ul li a:hover{
    color: white;
}
footer nav div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
}
footer nav div a {
    display: flex;
    align-items: center;
}
footer nav a h2 {
    font-size: 2.5rem;
}
footer svg {
    display: flex;
    height: 4rem;
    width: 4rem;
    padding-right: 1rem;
}
footer img {
    height: 5rem;
    width: 5rem;
    padding-right: 1rem;
}
/*objetos y estilos*/
nav a {
    text-decoration: none;
    color: rgb(167, 164, 164);
    padding: 2rem;
    font-size: 1.8rem;
    font-weight: 500;
}
.colorennav{
    color: rgb(167, 164, 164)!important;
}
.nav-item .colorennav:hover {
    color: white!important;
}

.parallax {
    background-image: url(../assets/avionventana.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.parallax2 {
    background-image: url(../assets/holiday.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
    margin-top: 5rem;
}
main h2 {
    font-size: 5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    padding: 2rem;
}
.pstyle {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    font-size: 2.5rem;
}

.inline {
    display: inline;
}

.padre-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    /*predeterminado*/
}

/*formulario*/
input select {
    display: inline-block;
    margin-bottom: 0.5rem;
    width: 10rem;
}
textarea {
    height: 5rem;
}
label {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    font-size: 3.5rem;
    margin: 3rem;
}
input {
    width: 20rem;
    text-align: center;
    height: 2.5rem;
}
select {
    width: 20rem;
    height: 2.5rem;
}
.btn-submit {
    background-color: black;
    border-radius: 20%;
    color: white;
    width: 10rem;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: center;
    font-size: 2rem;
    margin: 3rem;
    height: 4rem;
}
.btn-ig {
    border-radius: 30%;
    width: 6rem;
    height: 6rem;
    color: white;
    padding: 1rem;
    bottom: 1rem;
    right: 1rem;
    margin-right: 1rem;
}
/*----------------------------------------*/
/* index */
.colum3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20rem 60rem;
    grid-template-areas: 
    "titulo titulo titulo"
    "colum1 colum2 colum3";
    width: 100%;
    /* height: 100vh; */
    justify-items: stretch;
    padding-top: 5rem;
}
.colum3 h2 {
    grid-area: titulo;
}
.colum3 .sya {
    grid-area: colum1;
}
.colum3 .serv {
    grid-area: colum2;
}
.colum3 .cal {
    grid-area: colum3;
}    
.colum3 svg {
    padding: 1.5rem;
    align-items: center;
    width: 8rem;
}
.colum3 div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* fin index */
/* hosteleria */
.hostpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.hostpage form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.hostpage input {
    margin-bottom: 4rem;
}
aside {
    margin-top: 4rem;
}
.tipoalojamiento {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1rem;
    margin: 4rem;
}
.tipoalojamiento img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1%;
}
.img1 {
    grid-column: 1/2;
    grid-row: 1/3;
}
.img2 {
    grid-column: 2/3;
    grid-row: 1/2;
}
.img3{
    grid-column: 1/2;
    grid-row: 3/4;
}
.img4{
    grid-column: 3/5;
    grid-row: 1/2;
}
.img5{
    grid-column: 1/3;
    grid-row: 4/6;
}
.img6{
    grid-column: 4/5;
    grid-row: 2/6;
}
.img7{
    grid-column: 2/4;
    grid-row: 2/4;
}
.img8{
    grid-column: 3/4;
    grid-row: 4/6;
}
/* fin hosteleria */
/* contacto */
.contacto {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* height: 100%; */
}
.contacto form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    height: 100%;
    width: 100%;
}
.contacto form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.contacto input {
    display: flex;
    align-items: center;
}
/* fin contacto */
.destinopage {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    background-color: coral;
    border: solid 0.5rem black;
    border-radius: 7%;
}

.destinopage div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    width: 30%;
}

.destinopage p {
    text-align: center;
    font-size: 2rem;
}
iframe {
    width: 100%;
    margin-right: 3rem;
    align-items: center;
}
.destinopage img {
    width: 150%;
    height: 150%;
}

body h3 {
    text-align: center;
}
.layout header {
    grid-area: header;
    height: 7rem;
}

.layout section {
    grid-area: section;
}

.layout article {
    grid-area: article;
}

.layout aside {
    grid-area: aside;
}

.layout footer {
    grid-area: footer;
}

.layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 2fr 1fr 0.5fr;
    grid-template-areas:
        "header"
        "section"
        "article"
        "aside"
        "footer";
    width: 100%;
    height: 100vh;
}
.medidas {
    width: 100%;
    height: 100%;
}
.medidas h5 {
    font-size: 4rem;
    font-family: "Oswald", sans-serif;
}
.medidas p {
    font-size: 2.2rem;
    font-family: "Oswald", sans-serif;
}
/* media queries */
/* mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        height: 100%;
    }
    header nav div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    header nav div div ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .colum3 div {
        display: flex;
    }
    h3 {
        font-size: 2.5rem;
    }
    header nav a {
        justify-content: center;
        font-size: 2rem;
        max-width: 100%;
    }
    nav {
        padding: 1rem 0rem;
    }
    footer nav div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    footer nav div div ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
    }
    h1 {
        font-size: 4rem;
    }
    main h2 {
        font-weight: 600;
        font-size: 3rem;
    }
    .pstyle{
        font-size: 2rem;
    }
    label {
        font-size: 2rem;
    }
    footer {
        flex-direction: row;
        justify-content:stretch;
        width: 100%;
    }
    footer nav {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        width: 100%;
    }
    footer nav a {
        display: flex;
        font-size: 1.6rem;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    footer nav a svg {
        height: 3rem;
        width: 3rem;
    }
    footer nav a h2 {
        font-size: 2rem;
    }
    footer nav a img {
        height: 3rem;
        width: 3rem;
    }
    .colum3{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 0.5fr 1.5fr 1.5fr 1.5fr;
        grid-template-areas: 
        "titulo titulo titulo"
        "colum1 colum1 colum1"
        "colum2 colum2 colum2"
        "colum3 colum3 colum3";
    }
    .hostpage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .hostpage form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 4rem;
    }
    .tipoalojamiento {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }
    .img1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .img2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .img3{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .img4{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .img5{
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .img6{
        grid-column: 1/2;
        grid-row: 6/7;
    }
    .img7{
        grid-column: 1/2;
        grid-row: 7/8;
    }
    .img8{
        grid-column: 1/2;
        grid-row: 8/9;
    }
}
/* tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        height: 100%;
    }
    header nav div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    header nav div div ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .colum3 div {
        display: flex;
        flex-direction: column;
    }
    h3 {
        font-size: 2.5rem;
    }
    header nav a {
        justify-content: center;
        max-width: 100%;
    }
    nav {
        padding: 1rem 0rem;
    }
    footer nav div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    footer nav div div ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
    }
    h1 {
        font-size: 4rem;
    }
    main h2 {
        font-size: 3rem;
    }
    .pstyle{
        font-size: 2rem;
    }
    label {
        font-size: 2rem;
    }
    footer {
        flex-direction: row;
        justify-content:stretch;
        width: 100%;
    }
    footer nav {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        width: 100%;
    }
    footer nav a {
        display: flex;
        font-size: 2rem;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    footer nav a svg {
        height: 3rem;
        width: 3rem;
    }
    footer nav a h2 {
        font-size: 2rem;
    }
    footer nav a img {
        height: 3rem;
        width: 3rem;
    }
    .hostpage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .hostpage form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 4rem;
    }
    .tipoalojamiento {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .img1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .img2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .img3{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .img4{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .img5{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .img6{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .img7{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .img8{
        grid-column: 2/3;
        grid-row: 4/5;
    }
}

/* desktop */
@media screen and (min-width: 1024px) {}

/* adentro de cada media queries va el grid */
