/*
#F2E5BD
#F2C166
#F25116
#D93D1A
#261A18
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1200px;
    /* border: 1px solid red; */
}
html{
    font-size: 62.5%;
    /*1 rem = 10px*/
}
/*header*/
header {
    background-color: #F2C166;
    height: 5rem;
    border: solid 0.1rem black;
    max-width: 100%;
}
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 3rem;
}
.logo {
    width: 5rem;
    height: 5rem;
}
header nav svg {
    height: 5rem;
    width: 5rem;
}
/*body*/
body {
    overflow-x: hidden ;
    background-color:#F2E5BD ;
}
p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
}
h1 {
    font-size: 6rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: center;
}
h2 {
    font-size: 4rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: center;
    padding: 5rem;
}
h3 {
    font-size: 3rem;
    margin: 3rem;
    display: inline;
}
/* article div {
    display: inline-block;
    justify-content: space-around;
    flex-direction: row;
    padding: 1rem;
    margin: 1.5rem;
} */
/*footer*/
footer {
    background-color:#F2C166 ;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5rem;
    border: solid 0.1rem black;
}
footer nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
footer nav div p {
    display: inline;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    font-size: 1.5rem;
    padding: 5%;
}
footer nav div a {
    width: 5rem;
    height: 5rem;
    margin-left: 5rem;
}
/*objetos y estilos*/
a {
    text-decoration: none;
    color: black;
}
.parallax {
    background-image: url(../assets/avionventana.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 90vh;
    width: 100%;
}
.parallax2 {
        background-image: url(../assets/holiday.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        height: 90vh;
        width: 100%;
        margin-top: 5rem;
}
/* div {
    display: flex;
    width: 100%;
    height: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    align-items: center;
} */
svg {
    height: 3rem;
    width: 3rem;
}
img {
    /* align-items: flex-start;
    width: 30rem;
    height: 30rem;
    margin: 3rem;
    display: inline; */
}
.pstyle {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style:italic;
    text-align: justify;
    font-size: 3.3rem;
}
.inline {
    display: inline;
}
.padre-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    /*predeterminado*/
}
/*formulario*/
ul li {
    list-style-type: none;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.8rem;
    display: inline;
    border: solid 1px black;
    text-align: center;
}
ul li a {
    color: black;
}
input select{
    display: inline-block;
    margin-bottom: 0.5rem;
    width: 10rem;
}
textarea {
    height: 5rem;
}
label {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    font-size: 2.5rem;
    margin: 3rem;
    display: block;    
}
input {
    width: 20rem;
    text-align: center;
}
select {
    width: 20rem;
}
.btn-submit {
    background-color: rgb(255, 208, 0);
    border-radius: 20%;
    width: 8rem;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: center;
    font-size: 2rem;
    margin-top: 5rem;
}
.btn-ig {
    border-radius: 30%;
    width: 6rem;
    height: 6rem;
    color: white;
    padding: 1rem;
    bottom: 1rem;
    right: 1rem;
    margin-right: 1rem;
}
/*----------------------------------------*/
section article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 4rem;   
}
section article div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 25%;
}
section article div svg{
    width: 25%;
    padding: 1.5rem;
}
.destinopage {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    background-color: coral;
    border: solid 0.5rem black;
    border-radius: 7%;
}
.destinopage div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    width: 30%;
}
.destinopage p{
    text-align: center;
    font-size: 2rem;
}
.destinopage img{
    width: 150%;
    height: 150%;
}
body h3 {
    text-align: center;
}
.hostpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hostpage div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tipoalojamiento {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.tipoalojamiento div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 50%;
}
.layout header {
    grid-area: header;
}
.layout section {
    grid-area: section;
}
.layout article {
    grid-area: article;
}
.layout aside {
    grid-area: aside;
}
.layout footer {
    grid-area: footer;
}
.layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 2fr 1fr 0.5fr;
    grid-template-areas: 
        "header"
        "section"
        "article"
        "aside"
        "footer";
        width: 100%;
        height: 100vh;
}
/* .colum3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "h2 h2 h2"
    "sya serv cal";
    width: 100%;
}
.colum3 h2{
    grid-area: h2;
}
.colum3 .sya {
    grid-area: sya;
}
.colum3 .serv {
    grid-area: serv;
}
.colum3 .cal {
    grid-area: cal;
} */
/* media queries */
/* mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
    p {
        font-size: 1.5rem;
    }
}
/* tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    
}
/* desktop */
@media screen and (min-width: 1024px) {
    
}
/* adentro de cada media queries va el grid */
