$verdeOscuro: #23606E;
$rojoClaro: #FACFCE;
$verdemasclaro: #008F8C;
$verdeagua: #015958;
$verdemuyOscuro: #023535;
$blanco: rgb(250, 245, 245);
$negro: rgb(0, 0, 0);
$verdeclaro: #d8d7a6;
$gris: rgb(167, 164, 164);
$gris2: rgb(128, 128, 128);
