@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$verdeOscuro: #23606E;
$rojoClaro: #FACFCE;
$verdemasclaro: #008F8C;
$verdeagua: #015958;
$verdemuyOscuro: #023535;

* {
    margin: 0;
    padding: 0;
    /* width: 100%; */
    /* max-width: 1200px; */
    /* border: 1px solid red; */
}
html {
    font-size: 62.5%;
    /*1 rem = 10px*/
    body {
        overflow-x: hidden;
        background-color: #d8d7a6;
        header {
            display: flex;
            justify-content: space-between;
            background-color: #015958;
            min-height: 6rem;
            border: solid 0.1rem black;
            max-width: 100%;
            align-items: center;
            /* height: 7rem; */
            a {
                text-decoration: none;
                padding: 1rem;
                color: white;
            }
            nav {
                display: flex;
                justify-content: center;
                align-items: center; 
                /* height: 7rem; */
                width: 100%;
                .colorennav{
                    color: rgb(167, 164, 164)!important;
                }
                a {
                    text-decoration: none;
                    color: rgb(167, 164, 164);
                    padding: 2rem;
                    font-size: 1.8rem;
                    font-weight: 500;
                }
                .logo {
                    display: flex;
                    align-items: center;
                    padding: 2rem;
                    /* flex-direction: row; */
                    h2 {
                        font-size: 3rem;
                        color: white;
                    }
                    img {
                        height: 6rem;
                        width: 6rem;
                        margin-right: 2rem;
                    }
                }
                ul{
                    display: flex;
                    flex-direction: row;
                    justify-content: right;
                    font-size: 2rem;
                    align-items: center;
                    padding: 1rem;
                    list-style: none;
                    width: 100%;
                    .nav-item{
                        .colorennav {
                            &:hover{
                                color: white!important;
                            }
                        }
                    }
                    li {
                        display: flex;
                        &:hover{
                            color: white;
                        }
                    }
                }
            }
            button{
                background-color: gray;
                color: gray;
                span{
                    background-color: gray;
                    color: gray;
                }
            }
        }
        iframe {
            width: 100%;
            height: 80vh;
            margin: 3rem;
        }
        p {
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: italic;
            text-align: center;
            font-size: 3rem;
            padding: 2rem;
        }
        h1 {
            font-size: 6rem;
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: normal;
            text-align: center;
            margin: 4rem;
        }
        h3 {
            font-size: 3rem;
            margin: 3rem;
            text-align: center;
        }
        main {
            .parallax {
                background-image: url(../assets/avionventana.jpg);
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 90vh;
                width: 100%;
            }
            h2 {
                font-size: 5rem;
                font-family: "Montserrat", sans-serif;
                font-weight: 500;
                font-optical-sizing: auto;
                font-style: normal;
                text-align: center;
                padding: 2rem;
            }
            .pstyle {
                font-family: "Poppins", sans-serif;
                font-weight: 400;
                font-style: italic;
                text-align: center;
                font-size: 2.5rem;
            }
            input {
                width: 20rem;
                text-align: center;
                height: 2.5rem;
                select {
                    display: inline-block;
                    margin-bottom: 0.5rem;
                    width: 10rem;
                }
            }
            select {
                width: 20rem;
                height: 2.5rem;
            }
            textarea {
                height: 5rem;
            }
            label {
                font-family: "Poppins", sans-serif;
                font-weight: 400;
                font-style: italic;
                text-align: center;
                font-size: 3.5rem;
                margin: 3rem;
            }
            .btn-submit {
                background-color: black;
                border-radius: 20%;
                color: white;
                width: 10rem;
                display: block;
                font-family: "Montserrat", sans-serif;
                font-optical-sizing: auto;
                font-weight: weight;
                font-style: normal;
                text-align: center;
                font-size: 2rem;
                margin: 3rem;
                height: 4rem;
            }
            .colum3{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 20rem 60rem;
                grid-template-areas: 
                "titulo titulo titulo"
                "colum1 colum2 colum3";
                width: 100%;
                /* height: 100vh; */
                justify-items: stretch;
                padding-top: 5rem;
                height: 100%;
                h2 {
                    grid-area: titulo;
                }
                .sya {
                    grid-area: colum1;
                }
                .serv {
                    grid-area: colum2;
                }
                .cal {
                    grid-area: colum3;
                }
                svg {
                    padding: 1.5rem;
                    align-items: center;
                    width: 8rem;
                }
                div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
            .hostpage {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                form {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                }
                input {
                    margin-bottom: 4rem;
                }
            }
            aside {
                margin-top: 4rem;
            }
            .tipoalojamiento {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(5, 1fr);
                grid-gap: 1rem;
                margin: 4rem;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 1%;
                }
                .img1 {
                    grid-column: 1/2;
                    grid-row: 1/3;
                }
                .img2 {
                    grid-column: 2/3;
                    grid-row: 1/2;
                }
                .img3{
                    grid-column: 1/2;
                    grid-row: 3/4;
                }
                .img4{
                    grid-column: 3/5;
                    grid-row: 1/2;
                }
                .img5{
                    grid-column: 1/3;
                    grid-row: 4/6;
                }
                .img6{
                    grid-column: 4/5;
                    grid-row: 2/6;
                }
                .img7{
                    grid-column: 2/4;
                    grid-row: 2/4;
                }
                .img8{
                    grid-column: 3/4;
                    grid-row: 4/6;
                }
            }
            .contacto {
                display: flex;
                flex-direction: column;
                /* align-items: center; */
                /* height: 100%; */
                input {
                    display: flex;
                    align-items: center;
                }
                form {
                    display: flex;
                    flex-direction: column;
                    /* align-items: center; */
                    justify-content: center;
                    height: 100%;
                    width: 100%;
                    div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        width: 100%;
                    }
                }
            }
            iframe {
                width: 100%;
                margin-right: 3rem;
                align-items: center;
            }
            .medidas {
                width: 100%;
                height: 100%;
                h5 {
                    font-size: 4rem;
                    font-family: "Oswald", sans-serif;
                }
                p {
                    font-size: 2.2rem;
                    font-family: "Oswald", sans-serif;
                }
            }
        }
        .parallax2 {
            background-image: url(../assets/holiday.jpg);
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 90vh;
            width: 100%;
            margin-top: 5rem;
        }
        footer {
            display: flex;
            align-items: center;
            background-color: #015958;
            min-height: 6rem;
            max-width: 100%;
            margin: 0;
            bottom: 0;
            margin-top: 10rem;
            nav {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                div {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 2rem;
                    a {
                        display: flex;
                        align-items: center;
                    }
                }
                a {
                    text-decoration: none;
                    color: rgb(167, 164, 164);
                    padding: 2rem;
                    font-size: 1.8rem;
                    font-weight: 500;
                    &:hover{
                        color: white;
                    }
                    h2 {
                        font-size: 2.5rem;
                    }
                }
            }
            svg {
                display: flex;
                height: 4rem;
                width: 4rem;
                padding-right: 1rem;
            }
            img {
                height: 5rem;
                width: 5rem;
                padding-right: 1rem;
            }
        }
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    body {
        header {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 100%;
            height: 100%;
            nav {
                padding: 1rem 0rem;
                a {
                    justify-content: center;
                    font-size: 2rem;
                    max-width: 100%;
                }
                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    div {
                        ul{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: flex-start;
                        }
                    }
                }
            }
        }
        main {
            h2 {
                font-weight: 600;
                font-size: 3rem;
            }
            .hostpage {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    margin: 4rem;
                }
            }
            .colum3{
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: 0.5fr 1.5fr 1.5fr 1.5fr;
                grid-template-areas: 
                "titulo titulo titulo"
                "colum1 colum1 colum1"
                "colum2 colum2 colum2"
                "colum3 colum3 colum3";
            }
            .tipoalojamiento {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(8, 1fr);
                .img1 {
                    grid-column: 1/2;
                    grid-row: 1/2;
                }
                .img2 {
                    grid-column: 1/2;
                    grid-row: 2/3;
                }
                .img3{
                    grid-column: 1/2;
                    grid-row: 3/4;
                }
                .img4{
                    grid-column: 1/2;
                    grid-row: 4/5;
                }
                .img5{
                    grid-column: 1/2;
                    grid-row: 5/6;
                }
                .img6{
                    grid-column: 1/2;
                    grid-row: 6/7;
                }
                .img7{
                    grid-column: 1/2;
                    grid-row: 7/8;
                }
                .img8{
                    grid-column: 1/2;
                    grid-row: 8/9;
                }
            }
        }
        .colum3 {
            div {
            display: flex;
            }
        }
        h3 {
            font-size: 2.5rem;
        }
        h1 {
            font-size: 4rem;
        }
        .pstyle{
            font-size: 2rem;
        }
        label {
            font-size: 2rem;
        }
        footer {
            flex-direction: row;
            justify-content:stretch;
            width: 100%;
            nav {
                display: flex;
                flex-direction: column;
                justify-content: stretch;
                align-items: center;
                width: 100%;
                a {
                    display: flex;
                    font-size: 1.6rem;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    svg {
                        height: 3rem;
                        width: 3rem;
                    }
                    h2 {
                        font-size: 2rem;
                    }
                    img {
                        height: 3rem;
                        width: 3rem;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px)
{
    body {
        header {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 100%;
            height: 100%;
            nav {
                padding: 1rem 0rem;
                a {
                    justify-content: center;
                    max-width: 100%;
                }
                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    div {
                        ul{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: flex-start;
                        }
                    }
                }
            }
        }
        main {
            .colum3 {
                div {
                    display: flex;
                    flex-direction: column;
                }
            }
            h2 {
                font-size: 3rem;
            }
            .hostpage {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    margin: 4rem;
                }
            }
            .tipoalojamiento {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(4, 1fr);
                .img1 {
                    grid-column: 1/2;
                    grid-row: 1/2;
                }
                .img2 {
                    grid-column: 2/3;
                    grid-row: 1/2;
                }
                .img3{
                    grid-column: 1/2;
                    grid-row: 2/3;
                }
                .img4{
                    grid-column: 2/3;
                    grid-row: 2/3;
                }
                .img5{
                    grid-column: 1/2;
                    grid-row: 3/4;
                }
                .img6{
                    grid-column: 2/3;
                    grid-row: 3/4;
                }
                .img7{
                    grid-column: 1/2;
                    grid-row: 4/5;
                }
                .img8{
                    grid-column: 2/3;
                    grid-row: 4/5;
                }
            }
        }
        h3 {
            font-size: 2.5rem;
        }
        footer {
            flex-direction: row;
            justify-content:stretch;
            width: 100%;
            nav {
                display: flex;
                flex-direction: column;
                justify-content: stretch;
                align-items: center;
                width: 100%;
                a {
                    display: flex;
                    font-size: 2rem;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    svg {
                        height: 3rem;
                        width: 3rem;
                    }
                    h2 {
                        font-size: 2rem;
                    }
                    img {
                        height: 3rem;
                        width: 3rem;
                    }
                }
                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    div {
                        ul {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            justify-content: center;
                            align-items: flex-start;
                        }
                    }
                }
            }
        }
        h1 {
            font-size: 4rem;
        }
        .pstyle{
            font-size: 2rem;
        }
        label {
            font-size: 2rem;
        }
    }
}
@media screen and (min-width: 1024px) {}