@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import 'colors';
@import 'header';
@import 'footer';
@import 'colum3';
@import 'hosteleria';
@import 'estilos';

$font-weights:(
    "regular": 400,
    "sowsow": 500,
    "medium": 600,
    "bold": 800,
);

* {
    margin: 0;
    padding: 0;
    /* width: 100%; */
    /* max-width: 1200px; */
    /* border: 1px solid red; */
}
html {
    font-size: 62.5%;
    /*1 rem = 10px*/
    body {
        overflow-x: hidden;
        background-color: $verdeclaro;
        .titulos {
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            text-align: center;
        }
        h1{
            font-weight: map-get($font-weights, "medium");
            @extend .titulos;
            margin: 4rem;
            font-size: 5rem;
        }
        h2{
            font-weight: map-get($font-weights, "sowsow");
            @extend .titulos;
            padding: 2rem;
            font-size: 4rem;
        }
        p{
            font-weight: map-get($font-weights, "regular");
        }
        .pstyle{
            font-weight: map-get($font-weights, "regular");
            font-family: "Poppins", sans-serif;
            font-style: italic;
            text-align: center;
            font-size: 2.5rem;
        }
        label{
            font-weight: map-get($font-weights, "regular");
        }
        main {
            .parallax {
                background-image: url(../assets/avionventana.jpg);
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 90vh;
                width: 100%;
            }
            .hostpage {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                form {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                }
                input {
                    margin-bottom: 4rem;
                }
            }
            aside {
                margin-top: 4rem;
            }
            .contacto {
                display: flex;
                flex-direction: column;
                /* align-items: center; */
                /* height: 100%; */
                input {
                    display: flex;
                    align-items: center;
                }
                form {
                    display: flex;
                    flex-direction: column;
                    /* align-items: center; */
                    justify-content: center;
                    height: 100%;
                    width: 100%;
                    div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
        .parallax2 {
            background-image: url(../assets/holiday.jpg);
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 90vh;
            width: 100%;
            margin-top: 5rem;
        }
    }
}
// mobile
@media screen and (min-width: 320px) and (max-width: 767px) 
{
    body {
        .pstyle{
            font-size: 2rem;
        }
        main {
            .hostpage {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    margin: 4rem;
                }
            }
        }

    }
}
// tablet
@media screen and (min-width: 768px) and (max-width: 1023px)
{
        main {
            .colum3 {
                div {
                    display: flex;
                    flex-direction: column;
                }
            }
            .hostpage {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    margin: 4rem;
                }
            }
        }
    }
@media screen and (min-width: 1024px) {}